<div class="jumbotron" style="">
  <h1 class="display-1">Spotify Now</h1>
  <p class="lead">Get info on your spotify listening habits without having to wait</p>
    <a class="btn btn-dark btn-lg" href="#" role="button" id="login-btn">Login</a>
  </p>
</div>
<script src="/javascript/login.js"></script>