<div class="jumbotron" style="">
  <h1 class="title-jumbo">Spotify Now</h1>
  <p class="sub-title-jumbo">Your spotify wrapped, now</p>
    <a class="btn btn-dark btn-lg" href="/login" role="button" id="login-btn">Login</a>
  </p>
</div>
