<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Followers</th>
      <th scope="col">Popularity Index</th>
    </tr>
  </thead>
  <tbody>
    {{#each artists as |artist|}}
    <tr>
      <th scope="row">{{artist.id}}</th>
      <td>{{artist.name}}</td>
      <td>{{artist.followers}}</td>
      <td>{{artist.popularity}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>