
.jumbotron {
    height:100vh; 
    background: linear-gradient(-70deg, rgba(0, 0, 0, 0)  60%, #70df6e 50%), url('/assets/duotone.jpg') no-repeat center center fixed;
    margin-bottom : 0px;
    padding-top:30vh; 
    padding-left:10vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Gotham';
    overflow: hidden;
   

}

.title-jumbo {
    font-family: 'Gotham Ultra';
    font-size: 6em;
    font-weight: 700;
    font-style:italic;
    color:#fffffd;
}
.sub-title-jumbo {
    color: #252d65;
    font-weight:500;
    font-size:1.5em; 
    font-style: italic;
}
body {
    background-color:#70df6e;
}
.table {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.artist-wrapper {
    display: flex;
    font-family: 'Gotham';
    justify-content: center;
    margin: 0;

    
}

.tab-wrapper {
    display: flex;
    justify-content: center;
}
.tab {
    color:#fffffd;
    font-size: 2.5em;
    margin:0px;
    width:100%;
    padding:5px;
    text-align: center;
    cursor: pointer;
}
#artist-tab {
   background-color: #343a40;
   border-top-left-radius: 8px;
}

#song-tab {
    background-color: #454d55;
    border-top-right-radius: 8px;
    
}

#top-songs {
    display:none;
}
.table-section {
    width:50%;
    padding:10px;
    
    
}
.stats-page {
    display:flex;
    justify-content: center;
    background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
    padding:25px;
}
.table-section img {
    /*max-width: 100%;
    max-height:100%;*/
    width:75px;
    height:75px;
}

#top-pic{
    width:300px;
    height:300px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.img-wrapper {
    padding:0px;
}

.text-wrapper {
    margin:20px;
    max-width: fit-content;
}


#top {
    background-color: #ffed4b;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    border-radius: 8px;
}

.artist-intro {
    padding:10px;
    text-align: center;
    font-family: 'Gotham';
}

@media screen and (max-width: 1200px) {
    .table-section {
        width:75%;

    
    }
}

@media screen and (max-width: 700px) {
    .table-section {
        width:85%;
        
    
    }
}
@media screen and (max-width: 480px) {
    .jumbotron {
        height:100vh; 
        background: linear-gradient(-70deg, rgba(0, 0, 0, 0)  60%, #70df6e 50%), url('/assets/duotone.jpg') no-repeat center center fixed;
        margin-bottom : 0px;
        padding-top:20vh; 
        padding-left:0px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        font-family: 'Gotham';
        overflow: hidden;
        text-align: center;
         
    }
    .title-jumbo {
        font-family: 'Gotham Ultra';
        font-size: 5em;
        font-weight: 700;
        font-style:italic;
        color:#fffffd;
    }
    .sub-title-jumbo {
        display: none;
        color: #252d65;
        font-weight:500;
        font-size:1em; 
        font-style: italic;
    }

    .table-section {
        width:100%;
        
    
    }
    .table-section img {
        width:35px;
        height:35px;
    }

    .player{
        color: #fdcd3b;
    }

    .stats-intro {
        font-size: 100px;
    }
  }